<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fieldbear.androidtutorial190826">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".T17_Notification.T17_ResultActivity"></activity>
        <activity android:name=".T17_Notification.T17_NotificationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".T16_Style.T16_StyleActivity"></activity>
        <activity android:name=".T15_BR.T15_BR_Activity" />
        <activity android:name=".T14_Service.T14_Service_Activity" />
        <activity android:name=".T13_SQLite.T13_SQLiteActivity" />
        <activity android:name=".T12_retrofit.T12_RetrofitActivity" />
        <activity android:name=".T11_JSON.T11_JSON" />
        <activity android:name=".T10_XML.T10_XML" />
        <activity android:name=".T09_AsyncTask.T09_AsyncTaskActivity" />
        <activity android:name=".T08_Thread.T08_ThreadActivity" />
        <activity android:name=".T07_ViewPager.T07_ViewPagerActivity" />
        <activity android:name=".T06_Fragment.T06_Fragment_Actiivty" />
        <activity android:name=".T05_SharedPreferences.T05_AppListActivity" />
        <activity android:name=".T05_SharedPreferences.T05_SharedPreferencesActivity" />
        <activity android:name=".T04_customListView.T05_CustomListViewActivity" />
        <activity android:name=".T03_listview.T03_ListActivity" />
        <activity android:name=".T02_Activity.T02_New_Activity" />
        <activity android:name=".T02_Activity.T02_Activity" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".T14_Service.MyBoundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".T14_Service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".T14_Service.MyService"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>