<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fieldbear.androidtutorial190826">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".T05_SharedPreferences.T05_AppListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".T05_SharedPreferences.T05_SharedPreferencesActivity">
        </activity>
        <activity android:name=".T04_customListView.T05_CustomListViewActivity"></activity>
        <activity android:name=".T03_listview.T03_ListActivity" />
        <activity android:name=".T02_Activity.T02_New_Activity" />
        <activity android:name=".T02_Activity.T02_Activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>